
@{
    ViewData["Title"] = "CustomPlaylist";
}

    <center>
        <p style="font-family:'Arial'; font-size:72px; font-weight:bold">
            Create Custom List!
        </p>
        <br />

        @model PlaylistBuilder.Models.UserPreference

        @using (Html.BeginForm("Custom", "Playlist", FormMethod.Post))
        {
            <h4>What artist represents this playlist?</h4>
            @Html.TextBoxFor(model => model.ArtistName)
            @Html.ValidationMessageFor(model => model.ArtistName)

            <br />
            <br />
            <h4>What tempo should this playlist generally be at? (integer)</h4>
            @Html.TextBoxFor(model => model.Tempo)
            @Html.ValidationMessageFor(model => model.Tempo)

            <br />
            <br />
            <h4>How danceable should this playlist be? (0.0 to 1.0)</h4>
            @Html.TextBoxFor(model => model.Danceable)
            @Html.ValidationMessageFor(model => model.Danceable)

            <br />
            <br />
            <br />
            <button type="submit" class="btn">Create playlist!</button>
        }

        <h5 style="color:blue;">@ViewBag.Message</h5>

        <br />
        <input type="button" class="btn" value="Go back" onclick="location.href='@Url.Action("PlaylistBuilder", "Playlist")'"/>

    </center>

